body{
    margin: 0;
    padding: 12px;
    background-color: rgb(24,24,24);
}
*{
    box-sizing: border-box;
}
#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#form{
    display: flex;
    justify-content: space-between;
}
#input{
    padding: 12px;
    line-height: 100%;
    flex: 1;
    font-size: 26px;
    background-color: rgb(18,18,18);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
}
#submit{
    font-size: 22px;
    background-color: rgb(49,49,49);
    border: none;
    outline: none;
    color: white;
    font-weight: 100;
    padding: 0px 28px;
    border-radius: 0px 10px 10px 0px;
}